Connected Services/ServiceReference1/WebService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetVols">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="departureDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="destination" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVolsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVolsResult" type="tns:ArrayOfVol" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVol">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Vol" nillable="true" type="tns:Vol" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Vol">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DepartureDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Destination" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VolNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DepartureTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetVolsSoapIn">
    <wsdl:part name="parameters" element="tns:GetVols" />
  </wsdl:message>
  <wsdl:message name="GetVolsSoapOut">
    <wsdl:part name="parameters" element="tns:GetVolsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetVols">
      <wsdl:input message="tns:GetVolsSoapIn" />
      <wsdl:output message="tns:GetVolsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVols">
      <soap:operation soapAction="http://tempuri.org/GetVols" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVols">
      <soap12:operation soapAction="http://tempuri.org/GetVols" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44343/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44343/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>